aside(class='p-4 flex flex-col sm:flex-row')
  img(src='/static/images/photo.jpg' alt='maciej simka\'s photo' class='w-16 rounded-full self-center')
  div(class='flex-1 ml-4')
    h2(class='font-bold').
      about
    p.
      he/him/his
    p.
      i&apos;m a JavaScript developer (currently at #[a(href='https://callstack.com/' rel='noreferrer') Callstack]), #[a(href='https://soundcloud.com/decorative-houseplant' rel='noreferrer') modular synths enthusiast], vimmer and (very) amateur photographer. I used to be a bartender. If I wouldn&apos;t be programming, I&apos;d be roasting coffee. #[a(href='/static/images/kamulec.jpg') I love my dog].
