doctype html
html(lang='eng' domain=metadata.domain)
  include ../head.pug
  body
    div(style={'max-width': '45rem'} class='m-auto min-h-screen flex flex-col')
      include /header.pug
      main(class='p-4 flex flex-1') !{content}
      include /about.pug
      include /footer.pug
