<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
    <title>simka</title>
  </head>
  <body>
    <div class="m-auto min-h-screen flex flex-col" style="max-width: 45rem;">
      <header class="p-4">
        <h1 class="text-6xl font-bold">simka</h1>
      </header>

      <main class="p-4 flex flex-1">
      {% block content %}{% endblock %}
      </main>

      <footer class="p-4">
        <p class="text-center text-xs">
          Unless otherwise stated, all source code is licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank" rel="noreferrer">GNU AGPL version 3.0</a> or later and all other content is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noreferrer">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</a>.
            </p>
      </footer>
    </div>
  </body>
</html>
