<!doctype html>
<html lang="en" domain="{{ metadata.domain }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">
    <title>{{ metadata.title | escape }}</title>
    <meta property="og:title" content="{{ metadata.title | escape  }}">
    {% set desc = metadata.description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ metadata.author.twitterHandle }}">
    <meta name="twitter:creator" content="@{{ metadata.author.twitterHandle }}">
    <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    <meta name="referrer" content="origin-when-cross-origin">
    <link rel="preconnect" href="/" crossorigin>
  </head>
  <body>
    <div class="m-auto min-h-screen flex flex-col" style="max-width: 45rem;">
      <header class="p-4">
        <h1 class="text-6xl font-bold">simka</h1>
      </header>

      <main class="p-4 flex flex-1">
      {% block content %}{% endblock %}
      </main>

      <footer>
        <div class="p-4 flex flex-col sm:flex-row">
          <img src="/static/images/photo.jpg" alt="maciej simka's photo" class="w-16 rounded-full self-center" />
          <div class="flex-1 ml-3">
            <h2 class="font-bold">about</h2>
            <p>he/him/his</p>
            <p>
              i&apos;m a JavaScript developer (currently at <a href="https://callstack.com/" rel="noreferrer">Callstack</a>), <a href="https://soundcloud.com/decorative-houseplant" rel="noreferrer">modular synths enthusiast</a>, vimmer and (very) amateur photographer. I used to be a bartender. If I wouldn&apos;t be programming, I&apos;d be roasting coffee. <a href="/static/images/kamulec.jpg">I love my dog</a>.
            </p>
          </div>
        </div>
        <div class="p-4">
          <p class="text-center text-xs">
            Unless otherwise stated, all source code is licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank" rel="noreferrer">GNU AGPL version 3.0</a> or later and all other content is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noreferrer">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</a>.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
