html {
  font-family: "futura-pt", sans-serif;
}

h1 {
  font-family: "futura-pt-bold", sans-serif;
  font-size: var(--font-size-3);
}

h2 {
  font-family: "futura-pt-bold", sans-serif;
  font-size: var(--font-size-2);
}

h3 {
  font-family: "futura-pt-bold", sans-serif;
  font-size: var(--font-size-1);
}

p {
  font-size: var(--font-size-0);
}

small {
  font-size: var(--font-size--1);
}

/* max-width */
* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}
