---
import BaseLayout from "../layouts/base-layout.astro";

import Center from "../components/center.astro";
import Stack from "../components/stack.astro";
---

<BaseLayout>
  <Center>
    <Stack>
      <h1>accessibility statement</h1>
      <p>
        i am committed to ensuring digital accessibility for people with
        disabilities. i am continually improving the user experience for
        everyone, and applying the relevant accessibility standards.
      </p>

      <h2>conformance status</h2>
      <p>
        the Web Content Accessibility Guidelines (WCAG) defines requirements for
        designers and developers to improve accessibility for people with
        disabilities. it defines three levels of conformance: Level A, Level AA,
        and Level AAA. this site is partially conformant with WCAG 2.1 level AA.
        partially conformant means that some parts of the content do not fully
        conform to the accessibility standard.
      </p>

      <h2>feedback</h2>
      <p>
        i welcome your feedback on the accessibility of this site. please let me
        know if you encounter accessibility barriers on simka.dev through social
        media channels found in the footer of this website.
      </p>
    </Stack>
  </Center>
</BaseLayout>
