---
import BaseLayout from "../layouts/base-layout.astro";

import Center from "../components/center.astro";
import Stack from "../components/stack.astro";
---

<BaseLayout>
  <Center>
    <Stack>
      <h1>about</h1>
      <p>
        in my day job i specialize in creating complex and dynamic web
        applications as a front-end engineer and my interests revolve around
        design systems, component libraries and accessibility.
      </p>
      <p>
        i know my way around node.js too and while i mostly prefer geeking out
        over contrast ratios i can build a simple service or a CLI tool.
      </p>
      <p>
        non-professionally i take photographs and have interest in sound design.
        i also climb quite a lot and watch tons of movies, preferably in local
        kino.
      </p>
      <h2>reading list</h2>
      <p>
        i find it hard to convey a full spectrum of my views towards software
        engineering, front-end development, design etc. with a short text above,
        so i've decided to include a list of articles/essays that i am inspired
        by or just wholeheartedly agree with.
      </p>
      <ul>
        <li>
          <a
            href="https://alistapart.com/article/responsive-web-design/"
            rel="noreferrer"
            target="_blank"
          >
            Responsive Web Design
          </a>
        </li>
        <li>
          <a
            href="https://resilientwebdesign.com/"
            rel="noreferrer"
            target="_blank"
          >
            Resilient Web Design
          </a>
        </li>
      </ul>
    </Stack>
  </Center>
</BaseLayout>
