---
import BaseLayout from "../layouts/base-layout.astro";

import Center from "../components/center.astro";
import Stack from "../components/stack.astro";
---

<BaseLayout>
  <Center>
    <Stack>
      <h1>hallöchen.</h1>
      <p>
        <a href="/about">simka</a> (he/him) makes <a
          href="https://github.com/simka"
          rel="noreferrer"
          target="_blank">software</a
        >. based in berlin.
      </p>
    </Stack>
  </Center>
</BaseLayout>
