---
import { Image } from "@astrojs/image/components";

import HolyGrail from "../layouts/HolyGrail.astro";
import Footer from "../components/Footer.astro";
import image from "../assets/index.jpeg";
---

<HolyGrail title="simka">
  <div slot="header" class="pb-5">
    <h1 class="text-2xl font-bold">simka</h1>
  </div>

  <article class="pb-5">
    <p class="pb-3">
      i make <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/simka"
        class="text-pink-600">software</a
      >, <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.instagram.com/mcj.simka/"
        class="text-pink-600">photos</a
      > and sometimes
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://soundcloud.com/day_sleeper"
        class="text-pink-600">sounds</a
      >. you can also check out what i've been recently <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://letterboxd.com/mcjsimka/"
        class="text-pink-600">watching</a
      > and <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.goodreads.com/simka"
        class="text-pink-600">reading</a
      >.
    </p>
    <Image src={image} format="avif" />
  </article>

  <div slot="footer">
    <Footer />
  </div>
</HolyGrail>
