---
import { ViewTransitions } from "astro:transitions";

import "../styles/reset.css";
import "../styles/tokens.css";
import "../styles/base.css";
import Center from "../components/center.astro";
import Cluster from "../components/cluster.astro";
---

<style>
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  footer {
    margin-top: var(--space-xs-s);
    margin-bottom: var(--space-xs-s);
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👻</text></svg>"
    />
    <link rel="stylesheet" href="https://use.typekit.net/lrv3lwb.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>simka</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <footer>
      <Center>
        <Cluster>
          <small>
            <a
              href="https://github.com/simka/simka.dev"
              rel="noreferrer"
              target="_blank">view source</a
            >
          </small>
          <small>
            <a href="/a11y-statement">a11y statement</a>
          </small>
          <small>
            <a
              href="https://letterboxd.com/mcjsimka/"
              rel="noreferrer"
              target="_blank">letterboxd</a
            >
          </small>
          <small>
            <a
              href="https://www.goodreads.com/user/show/55545716-simka"
              rel="noreferrer"
              target="_blank">goodreads</a
            >
          </small>
          <small>
            <a
              href="https://www.linkedin.com/in/maciejsimka/"
              rel="noreferrer"
              target="_blank">linkedin</a
            >
          </small>
        </Cluster>
      </Center>
    </footer>
  </body>
</html>
