---
import "../styles/reset.css";
import "../styles/tokens.css";
import "../styles/base.css";

import Center from "../components/center.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👻</text></svg>">
    <link rel="stylesheet" href="https://use.typekit.net/lrv3lwb.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>simka</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <footer>
      <Center>
        <small>
        <!---
          <a
            href="https://github.com/simka/simka.dev"
            class="underline"
            rel="noreferrer"
            target="_blank">source code</a
          >
          --->
        </small>
      </Center>
    </footer>
  </body>
</html>
