---
import "@fontsource/work-sans";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👹</text></svg>"
    />
    <title>{title}</title>
  </head>

  <body>
    <div class="wrapper p-5">
      <header>
        <slot name="header" />
      </header>

      <nav>
        <slot name="nav" />
      </nav>

      <main>
        <slot />
      </main>

      <aside>
        <slot name="aside" />
      </aside>

      <footer>
        <slot name="footer" />
      </footer>
    </div>
    <style>
      body {
        font-family: "Work Sans", sans-serif;
        margin: 0;
        min-height: 100vh;
      }

      .page-wrapper {
        background: white;
        display: grid;
        gap: 1px;
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
        grid-template-rows: min-content min-content 1fr min-content;
        height: calc(100vh - 10px);
      }

      @media (max-width: 600px) {
        .page-wrapper {
          grid-template-columns: 100%;
          grid-template-rows: auto;
        }

        .page-wrapper > * {
          grid-column: 1 / -1 !important;
          grid-row: auto !important;
        }
      }

      header {
        grid-column: 1 / -1;
      }

      aside {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
      }

      nav {
        grid-column: 2 / 3;
      }

      main {
        grid-column: 2 / 3;
        max-width: 72ch;
      }

      footer {
        grid-column: 1 / -1;
        max-width: 72ch;
      }
    </style>
  </body>
</html>
