{% extends 'layouts/base.njk' %}

{% block content %}

  <ul class="text-xl">
    <li class="py-1">
      <a href="https://github.com/simka" target="_blank" rel="noreferrer">github</a>
    </li>
    <li class="py-1">
      <a href="https://www.linkedin.com/in/maciejsimka/" target="_blank" rel="noreferrer">linkedin</a>
    </li>
    <li class="py-1">
      <a href="https://stackoverflow.com/users/6126368/simka" target="_blank" rel="noreferrer">stackoverflow</a>
    </li>
  </ul>

{% endblock %}
