---
layout: layouts/default.pug
---

ul(class='text-xl')
  li(class='py-1')
    a(href='/resume').
      resume/cv
  li(class='py-1')
    a(href="https://github.com/simka" target="_blank" rel="noreferrer").
      github
  li(class='py-1')
    a(href="https://www.linkedin.com/in/maciejsimka/" target="_blank" rel="noreferrer").
      linkedin
  li(class='py-1')
    a(href="https://stackoverflow.com/users/6126368/simka" target="_blank" rel="noreferrer").
      stackoverflow

